#map {
    display: block;
    position: relative;
    padding-bottom: 25px;
    height: 0;
    overflow: hidden;

}

#map {
    position: absolute;
    bottom: 3%;
    right: 10%;
    width: 20% !important;
    height: 20% !important;
}

@media (max-width: 480px) {
    #map {
        display: block;
        width: 30% !important;
        height: 15% !important;
        bottom: 14%;
        right: 7%;
    }
}