#map {
    display: block;
    position: relative;
    padding-bottom: 25px;
    height: 0;
    overflow: hidden;

}

#map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

@media only screen (max-width: 480px) {
    #map iframe {
        display: block;
        width: 100% !important;
        height: 50% !important;
    }
}